version: "3.9"
services:
  server:
    image: ghcr.io/lmaotrigine/heartbeat:latest
    volumes:
      - ./config.toml:/usr/local/share/heartbeat/config.toml
    networks:
      - heartbeat-net
    ports:
      - 127.0.0.1:6060:6060
    depends_on:
      - db
    restart: unless-stopped
    pull_policy: always

  db:
    image: postgres:16
    volumes:
      - ./db_data/postgres:/var/lib/postgresql/data
      - ./docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
    environment:
      POSTGRES_USER: heartbeat
      POSTGRES_HOST_AUTH_METHOD: trust
      POSTGRES_DB: heartbeat
    networks:
      - heartbeat-net
    expose:
      - 5432
    restart: unless-stopped

networks:
  heartbeat-net:
    driver: bridge
